<div class="row">
    <div class="row">
        <h1 style="text-align: center">Welcome to FriendPerts</h1>
        <p class="text-center muted">
            Get answers to questions from the people who know you best
        </p>
    </div>
    <hr>
    <div class="row">
        <div class = "col-md-12">
            <h2 class="lead"><a href="" data-ng-controller="SigninCtrl" data-ng-click="signinaction()">Sign In</a></h2>
        </div>
        <div class="col-md-12">
            <h4> Click the
                    <a href="" data-ng-controller="SigninCtrl" data-ng-click="signinaction()">
                        <span class="fa fa-facebook-square"></span>
                    </a>
                to login with your Facebook account.</h4>
        </div>
        <hr>
        <div class = "col-md-12">
            <h2 class="lead"><a href = "fbpage">Facebook Friends</a></h2>
            <h4>
                Add your friends as "FriendPerts" on the <a href = "fbpage">Facebook Friends</a> page.
            </h4>
        </div>
        <hr>
        <div class = "col-md-12">
            <h2 class="lead"><a href = "myfriendperts">My FriendPerts</a></h2>
            <h4>
                Create "My Tags" which will be assigned to different friends based on their interest/expertise
                in that tag.
            </h4>
            <h4>
                Associate different "Tags" with different FriendPerts. An example:
                <ul class="text-left">
                    <li>Mom--@family, @wedding, @cooking, @hometown</li>
                    <li>Dad--@family, @fishing, @fantasyfootball</li>
                    <li>Brother--@family, @college, @fishing, @skiing</li>
                    <li>Sister--@family, @highschool, @dance</li>
                    <li>BestFriend--@college, @fishing, @mlb, @skiing</li>
                </ul>
            </h4>
        </div>
        <hr>
        <div class = "col-md-12">
            <h2 class="lead"><a href = "asks">My Questions</a></h2>
            <h4>
                Ask questions targeted at specific groups by assigning tags to your questions.
                FriendPerts that have that tag associated with them will get a notification under their
                "My Answers" section indicating that you have requested that they answer one of your questions.
            </h4>
        </div>
        <hr>
        <div class = "col-md-12">
            <h2 class="lead"><a href = "answers">My Answers</a></h2>
            <h4>
                When a FriendPert answers your question, you will see a notification under your "My Questions"
                link indicating a new answer has been submitted for one of your questions.
            </h4>
        </div>
    </div>
</div>
