<div class="row-fluid">
    <div class="row-fluid">
        <h2 style="text-align: center">Welcome to FriendPerts</h2>
        <p class="text-center muted"></p>
    </div>
    <hr>
    <div class="row-fluid"><h3 class="text-center">FriendPert Page Explanations</h3></div>

    <div class="row-fluid">

        <div class="span4 text-center well">
            <h4>Asks</h4>
            <hr>
            <p class="text-left">
                Asks are questions that the user
                poises for their FriendPerts.
                Users associate tags with their
                questions and Answerers that are associated
                with those tags are notified of the user's Ask.
            </p>
        </div>
        <div class="span4 text-center well">
            <h4>Answers</h4>
            <hr>
            <p class="text-left">
                The Answers page contains all of the questions that a user's FriendPerts have asked them. This
                page is where users can answer their FriendPerts' questions.
            </p>
        </div>

        <div class="span4 text-center well">
            <h4>Answerers</h4>
            <hr>
            <p class="text-left">
                The Answerers page contains a list of all available FriendPerts and allows a user to add them
                to their personal Answerer's list. You add answerers from the "Friendslist" page, which is populated
                with all your FB friends.
            </p>
        </div>
    </div>

</div>
